*.DS_Store
*_minted-paper
*auto
*.log
*.aux
*.bbl
*.synctex.gz
*.idx
*.ind
*.toc
*.blg
*.fdb*
*.dvi
*.fls
*.xcp
*.brf
*.ilg
*~
\#*
.#*
*.olean
*.lock
build
GPATH
GRTAGS
GSYMS
GTAGS
.projectile
.lean_options
.vs
src/emacs/dependencies
compile_commands.json
*.idea
tasks.json
settings.json
.gdb_history
.vscode
/*.nix
**/version.lean
CMakeSettings.json
CppProperties.json
*_target
*.vo
*.vok
*.vos
*.glob
.CoqMakefile.d
CoqMakefile.conf
*.out
**/.coq-native
**/.makefile.d
**/makefile.conf
*.autosave.xopp
*.xopp~
**/Main.pdf
**/KRoggia-Thesis/
*.swp
*.lof
*.loq
*.lot
*.sh
*.maf
*.mtc*
**/'Artigos-Livros'/
*.nav
*.snm
*.tdo
*.nlo
*.nls
.vscode
.latexmkrc
*.pdf
Main.pdf
